<?xml version='1.0' encoding='UTF-8'?>
<settings
	xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
	xmlns='http://maven.apache.org/SETTINGS/1.0.0'
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
	<servers>
		<server>
			<id>bintray-senrsl-tt</id>
			<username>这个文件</username>
			<password>一定要放到base/.m2/下面，不然一直401</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>bintray-senrsl-tt</id>
					<name>bintray</name>
					<url>https://dl.bintray.com/senrsl/tt</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>bintray-senrsl-tt</id>
					<name>bintray-plugins</name>
					<url>https://dl.bintray.com/senrsl/tt</url>
				</pluginRepository>
			</pluginRepositories>
			<id>bintray</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>bintray</activeProfile>
	</activeProfiles>
</settings>
